@model dynamic

@{
    ViewBag.Title = "Game Export";
}

<h2>Game Export</h2>

<ul>
    <li>
        @Html.ActionLink("For Referee Assignor", "ForRefereeAssignor", "Export")
    </li>
    <li>
        @Html.ActionLink("For Full Report", "FullReport", "Export")
    </li>
</ul>