@{
    Layout = "_Layout.cshtml";
}
<table id="the-big-table">
    <tr>
        <td id="left-menu">
            @Html.Partial("_LeftMenu")
        </td>
        <td id="working">
            @RenderBody()
        </td>
    </tr>
</table>