@using Web.Helpers.ExtensionMethods

@if (!Html.IsTrue("show-admin"))
{
    return;
}

<div id="system-status">
    <span>Current mode: <span id="current-mode">@ViewData["system-mode"]</span></span> <span>[ @Html.ActionLink("change", "Mode", "Setting") ]</span>
</div>