@model dynamic

@{
    ViewBag.Title = "Maintenance Mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Maintenance Mode</h2>

<p>The system is in maintenance mode.  We will notify you as soon as it comes online.</p>