@model dynamic

@{
    ViewBag.Title = "Setup Mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Setup Mode</h2>

<p>The system is being set up.  We will notify you as soon as it comes online.</p>