body {
    background-color: black;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}
footer {
    text-align: center;
    clear: both;
    background-color: #0554A3;
    color: #f5f5f5;
    padding: 6px;
    font-size: .9em;
    font-style: italic;
}
footer a, footer a:visited, footer a:hover {
    color: #add8e6;
    font-weight: normal;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
table {
    border: 1px solid grey;
    border-collapse: collapse;
}
td, th {
    border: 1px solid grey;
    padding: 3px;
    vertical-align: top;
}
tr.shading {
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: #0554A3;
}
a:hover {
    font-weight: bolder;
}
a:visited {
    color: #0554A3;
}
#logindisplay a, #logindisplay a:visited, #logindisplay a:hover,
#system-status a, #system-status a:visited, #system-status a:hover {
    color: #f5f5f5;
    font-weight: normal;
}
#logindisplay a:hover, #system-status a:hover {
    color: #BF2026;
}
#the-big-table {
    width: 100%;
}
#the-big-table, #the-big-table > td, #the-big-table > th {
    border: none;
}
#title {
    height: 102px;
    background-image: url(../Images/field-scheduler-header.png);
    background-color: green;
    text-align: center;
    padding-top: 30px;
    position: relative;
}
#title span#title-name a {
    display: none; /* was not hiding on Chrome/Mac */
    font-size: 4em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: -2000px;
}
#club-logo {
    position: absolute;
    top: -12px;
    left: 82px;
}
#club-logo img {
    width: 162px;
}
#logindisplay {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #f5f5f5;
}
#mode {
    position: absolute;
    top: 36px;
    right: 12px;
    color: #d2b48c;
}
#mode #current-mode {
    font-weight: bold;
}
.page {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #133258;
}
#left-menu {
    width: 230px;
    color: #f5f5f5;
    padding: 26px 0;
    border: none;
}
#left-menu li {
    padding: 3px 10px 3px 25px;
    cursor: pointer;
}
#admin-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
#admin-menu-header {
    padding-left: 25px;
    font-style: italic;
}
#left-menu a, #left-menu a:visited {
    color: #f5f5f5;
}
#left-menu li:hover {
    background-color: #BF2026;
}
#left-menu li:hover a {
    font-weight: bold;
}
#working {
    padding: 15px;
    padding-left: 25px;
    background-color: white;
    border: none;
}
#non-menued-working {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    background-color: white;
    padding: 13px;
}
#admin-menu {
    background-color: #0554A3;
}

/* begin jquery */

.field-validation-error {
    color: red;
}
.validation-summary-errors {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px 0;
}

/* end jquery */

.buttons {
    margin: 20px 0;
}

.buttons a {
    width: 140px;
    margin-right: 10px;
    padding: 10px;
    background-color: tan;
    border: 1px solid brown;
    font-weight: bold;
}
.buttons a:hover {
    background-color: lightgray;
    border-color: darkgray;
}
.date-list a {
    display: block;
    text-align: center;
    width: 100px;
    margin-bottom: 5px;
}
.mode-indicator {
    font-weight: bold;
}
.list-header {
    padding-top: 10px;
    font-weight: bold;
}
ul.summary-list {
    margin: 6px 0;
}
ul.input-list {
    padding: 6px 0;
}
ul.input-list li {
    padding: 4px 0;
}
input[type=submit] 
{
    color: #133258;
    width: 140px;
    margin-right: 10px;
    padding: 6px;
    background-color: pink;
    border: 1px solid lightcoral;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}
input[type=submit]:hover {
    background-color: lightgray;
    border-color: darkgray;
}
.refs-required {
    font-style: italic;
}
#system-status {
    color: #f5f5f5;
}
.ref-image {
    text-align: center;
}
#non-menued-working input[type=submit] {
    margin-right: 0;
}
input.confirm-button {
    width: 80px;
}
#temp-message {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px 0;
}
a.navigation {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}