@model Web.Models.SlotCreateViewModel

@{
    ViewBag.Title = "Add Available Slots";
}

<h2>Add Available Slots</h2>

@using(Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Create" />
}