@model Web.Models.UserEditViewModel

@{
    ViewBag.Title = "New User";
}

<h2>New User</h2>

@Html.Navigator("Cancel", "Index", "User")

@using(Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Create" />
}