@using System.Collections
@using Domain
@model Web.Models.ClubCreateViewModel

@{
    ViewBag.Title = "New Club";
}

<h2>New Club</h2>

@using (Html.BeginForm())
{
    <ul>
        <li>Name: @Html.TextBoxFor(m => m.Name)</li>
        <li>Based in (city, state): @Html.TextBoxFor(c => c.CityState)</li>
    </ul>
    <input type="submit" value="Create" />
}

<div>
    <span>Existing Clubs:</span>
    <ul>
        @foreach (Club club in (IEnumerable<Club>)ViewBag.ExistingClubs)
        {
            <li>@club.Name</li>
        }
    </ul>
</div>